<p>Có {{books.length}} cuốn sách</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books ">
      <th scope="row" routerLink="/view/{{ book.id }}">{{ book.id }} </th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>
        <button routerLink="/edit/{{ book.id }}" class="btn btn-primary">Edit</button> |
        <button (click)="delete(book)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
